<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frost.vkvideomanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.frost.vkvideomanager.VkVideoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name="com.frost.vkvideomanager.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.frost.vkvideomanager.album.AlbumActivity" />
        <activity android:name="com.frost.vkvideomanager.friend.FriendActivity" />
        <activity android:name="com.frost.vkvideomanager.catalog.CatalogSectionActivity" />
        <activity android:name="com.frost.vkvideomanager.community.CommunityActivity" />
        <activity
            android:name="com.frost.vkvideomanager.player.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name="com.frost.vkvideomanager.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>